<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
        *{margin:0; padding:0;}
        h4{
            margin:0 3%;
            margin-top: 20px;;
        }
        .setting-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        } 
        .text{
            font-size: 16px;
            font-weight: bold;
            margin-left:3%;
        }   
        .toggle{
            margin-right:3%;
        }    
    </style>
</head>
<body>
    <h4><b>알람 설정</b></h4>
    <hr>
    <div class="setting">
        <div class="setting-item">
            <p class="text">쪽지알림</p>
            {% if token.user.isMessageAlarm %}
                <input type="checkbox" checked data-toggle="toggle" value="message" data-size="mini" class="toggle">
            {% else %}
                <input type="checkbox" data-toggle="toggle" value="message" data-size="mini" class="toggle">
            {% endif %}
        </div>
        <hr>
        <div class="setting-item">
            <p class="text">댓글알림</p>
            {% if token.user.isCommentAlarm %}
                <input type="checkbox" checked data-toggle="toggle" value="comment" data-size="mini" class="toggle">
            {% else %}    
                <input type="checkbox"  data-toggle="toggle" value="comment" data-size="mini" class="toggle">
            {% endif %}
        </div>
        <hr>
        <div class="setting-item">
            <p class="text">답글알림</p>
            {% if token.user.isRecommentAlarm %}
                <input type="checkbox" checked data-toggle="toggle" value="recomment" data-size="mini" class="toggle">
            {% else %}
                <input type="checkbox"  data-toggle="toggle" value="recomment" data-size="mini" class="toggle">
            {% endif %}
        </div>
        <hr>
    </div>
    <script>
        $(".toggle").change(function(){
            var data = {};
            var url  = '/settingAlarm/'+$(this).val()+'/';

            if($(this).is(":checked")){
                data = {'token':'{{token.token}}','sw':'on'};
                
            }else{
                data = {'token':'{{token.token}}','sw':'off'};
            }

            ajax(url,data);
        });
        function ajax(url, data){
            
            $.ajax({
                url:url,
                type:'POST',
                data: data,
                success:function(data){
                },
                error:function(jqXHR, textStatus, errorThrown){
                    
                }
            });
        }

    </script>
</body>
</html>