<!doctype html> 
<html>
<style>
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction:column;
}
.top {
  display: flex;
  justify-content: top;
  align-items: top;
  min-height: 100vh;
  
}

</style>
     <head> 
         <meta name="viewport" content="width=320; user-scalable=no" />
          <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
          <title>Camera</title> 
    </head> 
    <body> 
        <div class="wrapper">
            <img src={{src}}  width="300" height="300"> 
            <p></p>
        <h1 >{{sickName}}</h1>
        </div>

        </p>
    </body> 
</html>

