<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <style>
        hr{
            border:0;
            height: 1px;
            background-color: rgb(230,230,230);
        }
        h4{
            word-break:break-all;
        }
        #content{
            word-break:break-all;
        }
        
    </style>
</head>
<body>
    <div>
        <h4>{{notice.title}}</h4>
        <p style="color:rgb(190,190,190);">{{notice.datetime|date:'Y.m.d H:i'}}</p>
        <hr>
        <div id="content">
            {{notice.content|safe}}
        </div>
    </div>

    <script>
        $("img").css({
            "width":"100%",
            
        });
    </script>
</body>
</html>