{% extends 'manage_base.html'%}

{% block manage_content %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
    <style>
        #write-container{
            margin:0 auto;
        }
        #file{
            display: none;
        }
        #file-label{
            width:100px;
            height: 30px;
            background: rgb(233,236,239);
            color:rgb(108,117,125);
            text-align: center;
            line-height: 30px;
            border-radius: 15px;
        }
        #filename-list{
            
            list-style: none;
            margin-left: 10px;
        }
        .remove-icon{
            font-size: 14px;
            font-weight: bold;
            color: red;
            margin-right: 10px;
            cursor: pointer;
        }
        #submit-btn,
        #modify-btn{
            width:100px;
            height: 30px;
            margin:30px auto;
            background: rgb(233,236,239);
            color:rgb(108,117,125);
            text-align: center;
            line-height: 30px;
            border-radius: 15px;
            cursor: pointer;
        }
    </style>
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">
            <a href="{% url 'manager:manage_main' %}">공지사항</a>
        </li>
        <li class="breadcrumb-item active">공지사항작성</li>
    </ol>
    <div id="write-container" class="col-md-7">
        <form  method="POST" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <!--제목-->
            <label>제목</label><br>
            <input type="text" class="form-control" value="{{notice.title}}"  name="title" placeholder="제목"><br>
            <!--내용-->
            <div id="summernote">{{notice.content|safe}}</div>
            <input type="hidden" name="content" id="content">
            {% if notice %}
                <div id="modify-btn">수정하기</div>
            {% else %}
                <div id="submit-btn">작성하기</div>
            {% endif %}
        </form>
    </div>
    <script>
        
        //summernote 활성화
        $('#summernote').summernote({
            height: 300
        });
        
        //작성하기 
        $("#submit-btn").click(function(){
            $("#form").attr("action","{% url 'manager:write_notice' %}");
            $("#content").val($('#summernote').summernote('code'));
            $("#form").submit();
        });
        //수정하기
        $("#modify-btn").click(function(){
            $("#form").attr("action","/manager/modifyNotice/?notice_id={{notice.id}}");
            $("#content").val($('#summernote').summernote('code'));
            $("#form").submit();
        });
    </script>
{% endblock %}